
@{
    ViewData["Title"] = "_LayoutIndex";
}

<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            @ViewBag.Title
        </title>
        </head>
    <body>
        <div id="main">
            <article>@RenderBody()</article>
            <nav>nav</nav>
        <aside>aside</aside>
    </div>
    </body>
</html>

